.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .recipe-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    width: 250px; /* Adjust as needed */
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .recipe-card:hover {
    transform: scale(1.05);
  }
  
  .recipe-image {
    width: 100%;
    height: 150px; /* Fixed height for consistency */
    object-fit: cover; /* Ensures the image covers the area */
  }
  
  .recipe-info {
    padding: 15px;
  }
  
  .recipe-title {
    font-size: 1.2em;
    margin: 0;
    color: #333;
  }
  
  .recipe-description {
    font-size: 0.9em;
    color: #666;
  }
  
  .no-recipes {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
  }

  .favorite-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.favorite-button:hover {
    background-color: #0056b3;
}

.favorite-icon {
    margin-left: 8px;
    color: red; 
}